* {
    margin: 0;
    padding: 0;
}

header {
    padding: 4px;
    margin: 0;
    background-color: #17181c;
    text-align: left;
}

.parrafo {
    margin-top: auto;
    size: 12px;
}

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?8r406n');
    src: url('fonts/icomoon.eot?8r406n#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?8r406n') format('truetype'), url('fonts/icomoon.woff?8r406n') format('woff'), url('fonts/icomoon.svg?8r406n#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    content: "\ea90";
}

.icon-instagram:before {
    content: "\ea92";
}

.icon-whatsapp:before {
    content: "\ea93";
}

.social-bar {
    position: fixed;
    right: 0;
    top: 35%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}

.icon {
    color: white;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;
}

.icon-facebook {
    background: #2E406E;
}

.icon-instagram {
    background: #339DC5;
}

.icon-whatsapp {
    background: #E83028;
}

.icon:first-child {
    border-radius: 1rem 0 0 0;
}

.icon:last-child {
    border-radius: 0 0 0 1rem;
}

.icon:hover {
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}

h1 {
    text-align: center;
    margin-left: 45%;
    margin-right: 40%;
    size: 3px;
}

img {
    width: 6%;
    height: 6%;
    text-align: left;
    margin-left: 1em;
    margin-right: 70%;
    margin-top: 7px;
    size: 12px;
}

article .parrafo1 {
    font-size: 20px;
    color: black;
    margin-top: 13px;
    letter-spacing: 0px;
    text-align: left;
    max-width: 900px;
    margin-left: 15%;
    margin-right: 15%;
}

img.derecho {
    float: right;
    width: 33%;
    height: 33%;
    text-align: left;
    margin-left: 9%;
    margin-right: 9%;
}

article .parrafo2 {
    font-size: 20px;
    color: black;
    margin-top: 13px;
    letter-spacing: 0px;
    text-align: left;
    max-width: 900px;
    margin-left: 6%;
    margin-right: 6%;
}

img.izquierda {
    float: right;
    width: 22%;
    height: 22%;
    margin-left: 3%;
    margin-right: 5%;
    margin-top: 7px;
}

#nav {
    height: 55px;
    background-color: #17181c;
    text-align: center;
}

#nav ul {
    list-style: none;
    display: inline-block;
}

#nav ul li {
    float: left;
    margin-top: 7px;
}

#nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;
    padding: 17px;
}

iframe {
    margin-left: 27%;
    margin-right: 24%;
    width: 500px;
    height: 500px;
    border: #26272b;
    margin-top: 5%;
}

.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}